@import "./variables.scss";

.footer {
  display: flex;
  justify-content: center;
  background: $clr-black;
  padding: 40px 0;
}
  span {
    color: $clr-primary-5;
  }
  h5 {
    color: $clr-white;
    margin: 0.1rem;
    font-weight: 400;
    text-transform: none;
    font-size: 17px;
  }

  @media (max-width: 776px) {
    .footer{
      padding: 20px 0;
      flex-direction: column;
      text-align: center;
    }
  }